
.title_sub {
  /* width: 300px;
  padding: 8px 16px;
  background: #2c2c2c;
  color: #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  position: fixed;
  right: 32px;
  bottom: 32px; */
  animation: popup 3s .5s forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(20px);
    animation-timing-function: ease-out;
  }
  /* 20%, 80% {
    transform: none;
    opacity: 1;
  } */
  100% {
    /* transform: translateY(20px);
    opacity: 0;
    pointer-events: none; */
    transform: none;
    opacity: 1;
  }
}
