/* * {
  align-items: flex-end;
} */
.slider {
  display: flex;
  flex-direction: column;
}
.slider > li {
  display: flex;
  flex-direction: row;
  margin: 50px 10px;
}
.slider img {
  margin: 0;
}
.member_div {
  width: 100%;
}
.info {
  display: flex;
}
.info_2 {
  margin: 18px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
p.info_main {
  margin: 2%;
}
