h2 {
  margin: 0;
  font-weight: lighter;
  letter-spacing: 5px;
}
.yearTitle {
  padding: 80px 1% 5px;
  line-height: 1.2;
}
.new_year {
  margin-top: 100px;
}
.collection-link {
  margin-left: -1.0vw;
}
.collectionImage {
  display: flex;
  flex-flow: row wrap;
}
.collectionImage_AllLook {
  margin: 0 1%;
  margin-bottom: 150px;
}
.collectionImage > img,
.collectionImage > div > img {
  width: 33.3%;
  flex: 1;
  aspect-ratio: 2 / 3;
}
.aspect-set img {
aspect-ratio: 4 / 5;
}
.collection_kfc_logo {
  margin: auto 0;
}
.lastArticle {
  margin-bottom: 80px;
}
.hidden_img,
.display {
  padding: 0;
  margin: 0;
}
.hidden_img {
  flex-wrap: wrap;
}
.display1 {
  display: none;
}
.AllLook {
  margin: 5px 10px 5px 0;
}
.AllLook:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
  animation-duration: 1.2s;
  animation-name: fade-in;
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 500px) {
  .yearTitle a:hover {
    opacity: 0.8;
  }
  .yearTitle h2 {
    font-size: 2.0vw;
  }
  .yearTitle p {
    font-size: 1.0vw;
  }
}
@media (min-width: 900px) {
  .yearTitle h2 {
    font-size: 1.8vw;
  }
  .yearTitle p {
    font-size: 0.8vw;
  }
  .collectionImage_main img {
    width: 25%;
  }
  .display0 {
    display: none;
  }
  .display1 {
    display: block;
  }
}
