.comment_show_movie {
  width: 100%;
}
.movie-wrap iframe {
  width: 100%;
  height: 100%;
}
.movie {
  padding-top: 70px;
}
.montage_text {
margin: 10px 13px 10px;
line-height: 2;
font-size: 9px;
}
.blog {
  top: 0;
}
/* .audio_button_img {
  width: 3%;
}
.audio_button {
  display: inline;
}
.audio_button:hover {
  width: 120%;
} */
.audio_button {
  display: flex;
  justify-content: flex-end;
  margin: 60px 15px 0;
  color: rgba(190, 190, 190, 0.932);
  cursor: pointer;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

#Audio-Control {
  overflow: hidden;
}

#Audio-Control button {
  border: 1px solid #ccc;
  width: 40px;
  float: left;
  padding: 5px 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#Audio-Control button.on {
  border-left: none;
}

#Audio-Control button.off {
  border-right: none;
}

#Audio-Control button.active {
  background: #ccc;
}

#Audio-Control button:not(.active):hover {
  background: rgba(204, 204, 204, 0.3);
}
.takuma {
  display: inline;
}
@media (max-width: 499px) {
  .modal_trigger li {
    width: 85%;
    margin: 15px auto;
  }
  .takuma {
    display: none;
  }
}
@media (min-width: 500px) {
  .montage_text {
    width: 95%;
    margin: 40px auto 0;
    line-height: 2.5;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: lighter;
  }
}
@media (min-width: 800px) {
  .movie {
    padding-top: 65px;
  }
}
@media (min-width: 1199px) {
  .flex_erea {
    display: flex;
  }
  .comment_show_movie {
    width: 70%;
  }
  .movie-wrap iframe {
    width: 97%;
    height: 97%;
  }
  .montage_text {
    width: 25%;
    margin: 60px auto 0;
    letter-spacing: 3px;
  }
  .blog {
    justify-content: left;
    width: 70%;
    position: relative;
  }
  .blogArticle {
    margin: 0;
  }
  .modal_trigger {
    display: flex;
    width: fit-content;
  }
  .modal_trigger li {
    width: 305px;
    margin-right: 27px;
  }
}
@media (min-width: 2500px) {
  h2 {
    font-size: 60px;
  }
  nav li p {
    padding: 20px 50px 20px 0px;
    font-size: 25px;
}
.kfcLogo {
  height: 70px;
}

  .montage_text {
    margin: 100px auto 0;
    line-height: 4;
    letter-spacing: 6px;
    font-size: 20px;
    font-weight: bold;
  }
  .comment_show_movie {
    width: 85%;
  }
  .modal_trigger li {
    width: 530px;
    margin-right: 60px;
  }
  .assistanceText {
    font-size: 18px;
  }
  .blogArticle h3 {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
}
.blogArticle h3 {
padding-bottom: 5px;
font-size: large;
font-weight: lighter;
}
}
@media (min-width: 3000px) {
  h2 {
    font-size: 70px;
  }
  .kfcLogo {
    height: 85px;
  }
  .montage_text {
    margin: 120px 0 0;
    line-height: 5;
    letter-spacing: 7px;
    font-size: 24px;
    font-weight: bold;
  }
  .comment_show_movie {
    width: 85%;
  }
  .modal_trigger li {
    width: 800px;
    margin-right: 90px;
  }
  .assistanceText {
    font-size: 21px;
  }
  .blogArticle h3 {
    padding-bottom: 20px;
    font-size: 38px;
    font-weight: bold;
}
.blogArticle h3 {
padding-bottom: 5px;
font-size: large;
font-weight: lighter;
}
}
