.slider {
  margin: 150px 0 0;
  padding: 0;
  width: 100%;
  display: flex;
}
.slider > ul {
  padding: 0;
}
.slider img {
  /* height: 200px; */
  width: 200px;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 13px;
}
.member_div {
  width: 119%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}
.slick button {
  border: none;
  margin: auto;
}
.slick-dots {
  display: none;
  position: absolute;
  left: -5000px;
}
.slick-arrow {
  width: 30px;
  height: 50px;
  background-color: whitesmoke;
}
.slick li {
  padding: 0 15px 0 5px;
  text-decoration: none;
  list-style: none;
  width: fit-content;
}
@media (max-width: 500px) {
  .slider img {
    height: 100px;
    width: 100px;
  }
  .slick-slide {
    height: 200px;
  }
}
@media (min-width: 500px) {
.member_div {
  width: 150%;
}
}
