html {
  font-size:62.5% ;
}
main {
  font-family: serif;

  margin-top: 2.5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 9%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
  font-size: 1.4rem;
  border: solid;
  border-width: 1.5px;
}
h1 {
  /* display: inline-block; */
  margin: none;
  font-size: 2.0rem;
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
  text-align: center;
  padding: 2% 4% 2%;
}
h2{
  text-align: center;
  font-weight: bold;
}
h3 {
  text-align: center;
  margin:5%;
  margin-top:10%;
  margin-bottom: 7%;
  font-weight: bold;
}
article {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 7%;
}
.question {text-decoration: underline 1px grey;
  margin-bottom: 60px;
  text-align: center;
}

.last{
  margin-bottom: 50px;
}

section {
  display: flex;
  padding: 0%;
  }

article>img{
  width: 80%;
  margin-bottom: 2%;
}
section>img{
  width: 200px;
  margin-right: 5%;
}
.desc {
  flex: 1;
}

footer {
  display: flex;
}

@media (max-width: 500px) {
  section{
    display :block;
    text-align: center;
  }
  section>img{
    margin-bottom: 20px;
  }

}
