
.tab:hover {
  border-bottom: 1px solid black;
  animation-duration: 1.2s;
  animation-name: fade-in;
}
.tab-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
}
.menuContainer {
  margin: 30px auto;
  width: 500px;
}
.active .tabContent {
  min-height: 150px;
  display: block;
  animation-duration: 0.8s;
  animation-name: fade-in;
}
.tabContent {
  font-weight: lighter;
  position: absolute;
}
.tabContent > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: initial;
  margin: 0;
}
.tabContent > ul > li {
  padding: 10px 0;
}
.tabHidden {
  display: none;
}
.tabMenu li a {
  text-shadow: 0 0px 5px white;
}
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
@media (min-width: 800px) {
  .my-header {
    position: fixed;
    top: 0;
    right: 55px;
    display: flex;
  }
  nav ul {
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
  nav li p {
    padding: 20px 50px 20px 0px;
    font-weight: bolder;
  }
}
